<%- include("../partials/header.ejs") %>


<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit Comment</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds/<%=campground_id%>/comments/<%=comment._id %>?_method=PUT" method="POST">
                <div class="form-group">  
                    <!-- class for input must be placed first before anything, otherwise it will not allow pasting in input-->                  
                        <input class="form-control" type="text" value="<%= comment.text %>" name="comment[text]">
                </div>
                <div class="form-group">      
                        <button class="btn btn-large btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
        
    </div>
</div>




<%- include("../partials/footer.ejs") %>