<%- include("./partials/header") %>

<div class="container">
    <h1>LOGIN FORM</h1>

    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Submit</button>
    </form>
</div>
<%- include("./partials/footer.ejs") %>